<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TeacherInfoMapper">
    <insert id="insert" parameterType="com.example.entity.TeacherInfo">
        insert into teacher_info (username, password, sex, name, title, avatar, role)
        values (#{username}, #{password}, #{sex}, #{name}, #{title}, #{avatar}, #{role})
    </insert>
    <update id="updateById">
        update teacher_info
        set username = #{username},
            password = #{password},
            sex      = #{sex},
            name     = #{name},
            title    = #{title},
            avatar   = #{avatar},
            role=#{role}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete
        from teacher_info
        where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.TeacherInfo">
        select * from teacher_info
        <where>
            <if test="username != null"> and username like concat ('%',#{username},'%')</if>
        </where>
        order by id desc
    </select>
</mapper>
